body{
    width: 100vw;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    margin: 0;
    padding: 0;
}

.main_grid{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: min(75vw, 75vh);
    height: min(75vw, 75vh);
    border: solid 0.2em black;
    background-color: white;
}

.grid-item {
    display: flex;
    width: auto;
    height: auto;
    background-color: white;
    border: solid 0.08em gray;
    justify-content: center;
    align-items: center;
    font-family: "Arial", sans-serif;
    font-size: 1.5em;
    transition: background-color 1s;
}

.selected{
    background-color: rgba(45, 206, 206, 0.859);
}

.selected:hover{
    cursor: grab;
}

.unselected:hover{
    background-color: rgba(45, 206, 206, 0.342);
    cursor: grab;
}
.grid-item:active{
    background-color: rgba(45, 206, 206, 0.814);
    cursor: grabbing;
}

.preview{
    background-color: rgba(114, 237, 237, 0.177);
}

.preview-same{
    background-color: rgba(35, 127, 127, 0.5);
}

.error{
    color: red;
}

.correct{
    color: rgb(27, 14, 218);
}